<!-- Favicon -->
<link rel="shortcut icon" href="http://www.sfchronicle.com/favicon.ico" type="image/x-icon">

<!-- BEGIN TWITTER SUMMARY CARD -->
<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="<%= grunt.data.json.project.g_title %>">
<meta name="twitter:site" content="@sfchronicle">
<meta name="twitter:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.g_slug%>">
<meta name="twitter:image" content="http://ww2.hdnux.com/photos/61/64/55/13091069/5/premium_gallery_landscape.jpg">
<meta name="twitter:description" content="<%= grunt.data.json.project.g_description %>">

<!-- Social sharing meta -->
<meta property="og:type" content="article">
<meta property="og:title" content="<%= grunt.data.json.project.g_title %>">
<meta property="og:site_name" content="The San Francisco Chronicle">
<meta property="og:url" content="<%= grunt.data.json.project.url + grunt.data.json.project.g_slug %>">
<meta property="og:image" content="http://ww2.hdnux.com/photos/61/64/55/13091069/5/premium_gallery_landscape.jpg">
<meta property="og:description" content="<%= grunt.data.json.project.g_description %>">
